  .nav {
    background-image: url(https://d.newsweek.com/en/full/2096815/astronaut-spaceman-do-spacewalk.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    width: 100%;
  }
  #nav-dropdown {
    border: 5px solid;
    width: 160px;
    border-color: #FFAC41;
    color: #FFAC41;
  }
  .navss {
    justify-content: space-between;
    margin-top: 15px;
  }
  .logo {
    font-size: 40px;
    font-weight: bold;
    color: #FFAC41;
  }
  .Movie-search {
    width: 100%;
    font-size: 20px;
    height: 46px;
    border-radius: 25px;
    border-color: #000000;
    text-align: center;
  }
  #btn {
    color: aliceblue;
    text-decoration: none;
    font-size: 025px;
    font-weight: bold;
    margin-right: 50px;
  }
  .Movie-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
  }
  .prof {
    text-decoration: none;
    color: #FFAC41;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
  }
  .prof:hover {
    color: #000000;
  }
  .search-result-text {
    font-size: 35px;
    color: #8d550c;
  }

  
  
  
 
